*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

:root{
    --red:#D62828;
    --blue:#003049;
    --orange:#141414;
    --skin:#FCBD49;
    --beige:#EAE2B7;
    --shadow-color-1: 39deg 77% 38%;
    --shadow-color-2: 0deg 0% 63%;
    --shadow-elevation-high-1:0.2px 0.1px 0.3px hsl(var(--shadow-color-1) / 0.34),
    1.1px 0.8px 1.5px -0.4px hsl(var(--shadow-color-1) / 0.34),
    2px 1.6px 2.9px -0.7px hsl(var(--shadow-color-1) / 0.34),
    3.4px 2.6px 4.8px -1.1px hsl(var(--shadow-color-1) / 0.34),
    5.4px 4.1px 7.6px -1.4px hsl(var(--shadow-color-1) / 0.34),
    8.4px 6.4px 11.9px -1.8px hsl(var(--shadow-color-1) / 0.34),
    12.7px 9.8px 18px -2.1px hsl(var(--shadow-color-1) / 0.34),
    18.8px 14.4px 26.6px -2.5px hsl(var(--shadow-color-1) / 0.34);
    --shadow-elevation-high-2:
    0.2px 0.1px 0.3px hsl(var( --shadow-color-2) / 0.34),
    1.1px 0.8px 1.5px -0.4px hsl(var( --shadow-color-2) / 0.34),
    2px 1.6px 2.9px -0.7px hsl(var( --shadow-color-2) / 0.34),
    3.4px 2.6px 4.8px -1.1px hsl(var( --shadow-color-2) / 0.34),
    5.4px 4.1px 7.6px -1.4px hsl(var( --shadow-color-2) / 0.34),
    8.4px 6.4px 11.9px -1.8px hsl(var( --shadow-color-2) / 0.34),
    12.7px 9.8px 18px -2.1px hsl(var( --shadow-color-2) / 0.34),
    18.8px 14.4px 26.6px -2.5px hsl(var( --shadow-color-2) / 0.34)
}

body{
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
}

.section{
    min-height: 100vh;
    width: 100%;
}


.content1{
    background: var(--baige);
    width: 100%;
    margin: 0 auto;
    
}

/* ESTILOS DEL HEADER */
.header{
width: 100%;
height: 60px;
display: block;
position: relative/*  */;
background: #fff;
}


.nav{
list-style: none;
width: 100%;
height: 100%;
}



.hamburger{
    position: absolute;
    right: 5%;
    margin-top: 16px;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30px;
    height: 30px;
    background: inherit;
    border: none;
    align-self: flex-end;
    display: flex;
    transition: all 0.5s;
    user-select: none;
    z-index: 10;
}

.hamburger:focus{

}

.stripe{
    width: 30px;
    height: 3px;
    border-radius: 3px;
    margin:  1px 0;
    background: var(--blue);
    transition: all 0.5s ease;
}


.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    list-style: none;
    margin: 0;
    opacity: 0;
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translateX(-100%);
transition: all 0.5s ease;
background: var(--skin);
}

.menu-list li{
    margin: 0px 0px;
    padding: 40px;
    width: 100%;
    transition: all 0.4s;
    background: var(--skin);
    text-align: center;
    
}



/* clase que entra y sale */
.show{
    transform: translateX(0%);
    height: 100vh;
    opacity: 1;
}

.fix {
    position: fixed;
}

.rotate1{
    width: 25px;
    transform: rotate(45deg);
    transition: all 0.4s ease;
    display:block;
    position: relative;
    top: 31%;
}
.rotate2{
    width: 25px;
    transform: rotate(-45deg);
    transition: all 0.4s ease;
    display:block;
}
.rotate3{
    opacity: 0;
}

.header .nav li a{
    text-decoration: none;
    color: #003049;
    font-size: 1.2rem;
    letter-spacing: 0.196875rem;
}

.header .nav li:hover,
.header .nav li:active{
    background: rgb(255, 215, 142);
}



.main{
    width: 100%;
    height: calc(100vh - 70px);
    color:var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main h1{
    margin-top: 12px;
    line-height: 2.8rem;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 500;
}

.main h2{
    display: block;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: left;
    color: var(--skin);
    margin: 15px 0px;
    letter-spacing: 0.15rem;
}

.main h3{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
}

.main-section{
text-align: center;
max-width: 800px;
padding: 16px;
}

/* .main img{
    width: 300px;
} */




/* ESTILOS DE LA SECCION TRABAJOS */

.s2{
    margin: 80px auto;
    padding-top: 40px;
}


.content-works h3{
    color: var(--blue);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 40px ;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
    margin-bottom: 40px;
}

.project-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 40px;
    width: 90%;
    margin: 0 auto;
    background: var(--skin);
    border-radius: 40px;
}


.project{
    width: 230px;
    height: 230px;
    display: flex;
    padding: 15px 4px;
    flex-direction: column;
    justify-content: space-around;
    background:inherit;
    text-align: center;
    border-radius: 5px;
background: #FCBD49;
box-shadow: var(--shadow-elevation-high-1)

}

.project a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.project img{
    margin: auto;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    object-fit: contain;

}

.project span{
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
}

.title-web{
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.126875rem;
    line-height: 1.875;
    font-size: 1rem;
}

/* ABOUT */
.s3 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 16px 0;
}

.s3::before{
    position: absolute;
    left: 25%;
    top: 0;
    content: '';
    width: 50%;
    height: 2px;
    background: var(--blue);
}

.s3::after{
    position: absolute;
    left: 25%;
    bottom: 0;
    content: '';
    width: 50%;
    height: 2px;
    background: var(--blue);
}



.title-about {
    color: var(--blue);
    font-size: 2rem;
}


.paragraph-about-container {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

.title-about {
    font-weight: 400;
    text-align: center;
    padding: 32px 8px;
}

.paragraph-about {
    line-height: 2rem;
    color: var(--blue);
    font-size: 1.2rem;
}

.about-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 300px;
    margin: 32px auto 0px auto;
}

.about-figure {
    border-radius: 4px;
    padding: 8px;
}

.about-figure img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.about-figure figcaption {
    margin-top: 16px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--blue);
}

/* ESTILOS DE CONTACTO */



.contact-section{
    min-height: 100vh;
    width: 100%;
}


.s4{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 40px;
}
.card{
    width: 40vh;
    height: 65vh;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 3.125rem 2rem;
    box-shadow: var(--shadow-elevation-high-2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.card .contact-title{
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 500;
   text-align: center;
   margin: 0;
   letter-spacing: 0.196875rem;
}

.card img{
    width: 150px;
    height: 138px;
    object-fit: contain;
    border-radius: 50%;
    align-self: center;
}

.personal-data{
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 10%;
    border-bottom: 1px solid rgba(0, 48, 73, 0.6);
    line-height: 1.875;
    opacity: .95;
}

.data{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.data span{
    margin: 15px;
    color: var(--blue);
    opacity: 0.50   ;
}

.data span a{
    color: var(--blue);
    text-decoration: none;
}

.data span:hover,
.data span a:hover{
    opacity: 1;
    color: var(--red);
}


footer{
    height: 30vh;
    background: var(--blue);
    padding: 20px 10px;
    display: flex;
    align-items: flex-end;
}
footer span{
    color: var(--beige);
    font-weight: 400;
    opacity: 0.85;
}




















/* Responsive parts */


@media (max-width: 330px){

/* .main img{
    width: 260px;
} */

}
@media (max-width: 390px){
    .project{
        width: 245px;
        height: 240px;
    }

    .project img{
        width: 225px;
        height: 110px;
    }

    .card h2 {
        font-size: 1rem;
    }
    .title-web{
        font-size: 0.75rem
    }   
    .main h1 {
        line-height: 2.8rem;
        font-size: 1.1rem;
        text-align: left;
        margin: 20px 0;
    }
    .main h2{
        font-size: 3rem;
    }
}

@media (min-width: 500px){
    .title-web{
        font-size: 1rem
    }   
   .nav{
       display: flex;
       justify-content: flex-end;
       height: 10vh;
       align-items: center;
   }
        
    .hamburger{
        display:none;
        justify-content: center;
    }

    .menu-list{
        width: 70%;
        height: auto;
        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateX(0%);
        position: relative;
        left: 0;
        background-color: transparent;
        gap: 1rem;
    }
    
    .menu-list li{
        padding: 10px;
        background: inherit;
        text-align: center;
        
    }
    .header .nav li a{
        font-size: 1.1rem;
    }
    .header .nav li:hover,
.header .nav li:active{
    background: inherit;
}
.header .nav li a:hover,
.header .nav li a:active{
    background: inherit;
    color: var(--skin);
}

.project-section {
    width: 70%;
    margin: 0 auto;
}

.main h3{
    font-size: 1rem;
}

.card img{
    width: 179px;
    height: 165px;
}

.card h3 {
    font-size: 1.2rem;
}

.paragraph-about {
    line-height: 2.5rem;
    font-size: 1.5rem;
}


.personal-data{
    font-size: 0.8rem;
}
.main h1 {
        line-height: 3.8rem;
        font-size: 1.9rem;
        text-align: left;
        margin: 20px 0;
    }
    .main h2{
        font-size: 4rem;
    }
    .main h3{
        font-size: 1rem;
    }
}

@media (min-width: 800px){
    .menu-list{
        align-items: center;
        justify-content: flex-end;
    }
    .main{
        flex-direction: row;
    }

    .main h2{
        font-size: 6rem;
    }


    .header .nav li a{
        font-size: 1.4rem;
    }


    .paragraph-about {
        line-height: 52px;
    }


    .card{
        width: 55vh;
        height: 75vh;
    }

}


@media (min-width: 1000px){

    .menu-list {
        width: 40%;
    }

    /* .main img{
        width: 400px;
    } */
    .card h3 {
        font-size: 2.6rem;
    }

    .s3 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 32px;
    }

    .about-skills {
        max-width: 500px;
    }

    .personal-data{
        font-size: 1rem;
    }
    
}