*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --red:#D62828;
    --blue:#003049;
    --orange:#F77F00;
    --skin:#FCBD49;
    --beige:#EAE2B7;
}

body{
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
}

.section{
    min-height: 100vh;
    width: 100%;
}


.content1{
    background: var(--baige);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}

/* ESTILOS DEL HEADER */
.header{
width: 100%;
display: flex;
flex-direction: column;
}

.nav{
list-style: none;
width: 100%;
}

.hamburger{
    position: relative;
    top: 100%;
    left: -5%;
    width:50px;
    height: 50px;
    background: inherit;
    border: none;
    align-self: flex-end;
    display: flex;
    transition: all 0.5s;
}

.hamburger{
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
}

.stripe{
    width: 45px;
    height: 4px;
    border-radius: 3px;
    margin:  2px 0;
    background: var(--blue);
    transition: all 0.5s ease;
}


.menu-list{
    overflow-x: hidden;
    width: 80%;
    list-style: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    left: 32%;
    top: 3%;
    transform: translateX(100%);
transition: all 0.5s ease;
}

.menu-list li{
    margin: 0px 0px;
    padding: 40px;
    transition: all 0.4s;
    background: var(--skin);
    text-align: center;
    
}



/* clase que entra y sale */
.show{
    opacity: 1;
    transform: translateX(0%);
    display:block;
    flex-direction: column;
}

.rotate1{
    width: 35px;
    transform: rotate(45deg);
    transition: all 0.4s ease;
    display:block;
    position: relative;
    top: 31%;
}
.rotate2{
    width: 35px;
    transform: rotate(-45deg);
    transition: all 0.4s ease;
    display:block;
}
.rotate3{
    opacity: 0;
}

.header .nav li a{
    text-decoration: none;
    color: #003049;
    font-size: 1.2rem;
    letter-spacing: 0.196875rem;
}

.header .nav li:hover,
.header .nav li:active{
    background: rgb(255, 215, 142);
}



.main{
    width: 100%;
    height: 90vh;
    color:var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main h1{
    font-size: 10vw;
    text-align: center;
    margin: 20px 0;
}

.main h2{
    font-size: 8vw;
    text-align: left;
    color: var(--skin);
    margin: 15px 18px;
    letter-spacing: 0.15rem;
}

.main h3{
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
}

.main-section{
text-align: center;
}

.main img{
    width: 300px;
}




/* ESTILOS DE LA SECCION TRABAJOS */

.s2{
    background:  var(--skin);
    ;

}

.h1{
    color: var(--blue);
    text-align: center;
    font-size: 2rem;
    padding-top: 40px ;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
}


.content-works h1{
    text-align: center;
    color: var(--beige);
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 30px;
}

.project-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.project{
    width: 425px;
    height: 230px;
    display: flex;
    padding: 15px 4px;
    margin: 20px ;
    flex-direction: column;
    justify-content: space-around;
    background:inherit;
    text-align: center;
    border-radius: 5px;
background: #FCBD49;
box-shadow:  30px 30px 45px #dea640, 
             -30px -30px 45px #ffd452;
}

.project a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.project img{
    margin: auto;
    margin-bottom: 10px;
    width: 325px;
    height: 150px;
    object-fit: contain;

}

.project img{
    margin: auto;
    margin-bottom: 10px;
    width: 325px;
    height: 150px;
    object-fit: contain;

}

.project span{
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.196875rem;
    line-height: 1.875;
}

.title-web{
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.126875rem;
    line-height: 1.875;
    font-size: 1rem;
}



/* ESTILOS DE CONTACTO */



.contact-section{
    min-height: 100vh;
    width: 100%;
}


.s3{
    background: var(--beige);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 45vh;
    height: 70vh;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 3.125rem 2rem;
    box-shadow: 0 6px 8px 4px rgb(138, 138, 138, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.card h2{
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 500;
   text-align: center;
   margin: 5% 0%;
   letter-spacing: 0.196875rem;
}

.card img{
    width: 150px;
    height: 138px;
    object-fit: contain;
    border-radius: 50%;
    align-self: center;
}

.personal-data{
    color: var(--blue);
    font-size: 0.8rem;
    font-weight: 300;
    margin: 5% 10%;
    border-bottom: 1px solid rgba(0, 48, 73, 0.6);
    
    padding-bottom: 20px;
    line-height: 1.875;
    opacity: .95;
}

.data{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.data span{
    margin: 15px;
    color: var(--blue);
    opacity: 0.50   ;
}

.data span a{
    color: var(--blue);
    text-decoration: none;
}

.data span:hover,
.data span a:hover{
    opacity: 1;
    color: var(--red);
}


footer{
    height: 30vh;
    background: var(--blue);
    padding: 20px 10px;
    display: flex;
    align-items: flex-end;
}
footer span{
    color: var(--beige);
    font-weight: 400;
    opacity: 0.85;
}




















/* Responsive parts */


@media (max-width: 330px){
    .main{
        width: 90%;
    }
    
/* .main h1 {
    font-size: 1.6rem;
}
.main h2{
    font-size: 1.4rem;
}
.main h3{
    font-size: 0.9rem;
} */

.main img{
    width: 260px;
}

}
@media (max-width: 390px){
    .project{
        width: 245px;
        height: 240px;
    }

    .project img{
        width: 225px;
        height: 110px;
    }

    .card h2 {
        font-size: 1rem;
    }
    .title-web{
        font-size: 0.75rem
    }   
    
}

@media (min-width: 500px){
    .title-web{
        font-size: 1rem
    }   
   .nav{
       display: flex;
       justify-content: center;
       height: 10vh;
       align-items: center;
   }
        
    .hamburger{
        display:none;
        justify-content: center;
    }

    .menu-list{
        width: 70%;
        margin: 0 auto;
        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateX(0%);
        position: relative;
        left: 0;
    }
    
    .menu-list li{
        padding: 10px;
        background: inherit;
        text-align: center;
        
    }
    .header .nav li a{
        font-size: 1.1rem;
    }
    .header .nav li:hover,
.header .nav li:active{
    background: inherit;
}
.header .nav li a:hover,
.header .nav li a:active{
    background: inherit;
    color: var(--skin);
}

.main h3{
    font-size: 1rem;
}

.card img{
    width: 179px;
    height: 165px;
}

.card h2 {
    font-size: 1.2rem;
}
.personal-data{
    font-size: 0.8rem;
}
    .main h1 {
        font-size: 7vw;
    }
    .main h2{
        font-size: 4vw;
    }
    .main h3{
        font-size: 1rem;
    }
}

@media (min-width: 800px){
    .menu-list{
      
            width: 50%;
        
        align-items: center;
        justify-content: flex-end;
        transform: translateX(30%);
    }
    .main{
        flex-direction: row;
    }

    .header .nav li a{
        font-size: 1.4rem;
    }

    .card{
        width: 55vh;
        height: 75vh;
    }

}


@media (min-width: 1000px){



    .main img{
        width: 400px;
    }
    .card h2 {
        font-size: 1.6rem;
    }
    .personal-data{
        font-size: 1rem;
    }
    
}