*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;

}

#nav{
width: 100%;
display: flex;
}
#nav .minutes-btn{
    background-image: linear-gradient( #358edf,#0f3a85 );
    width: 16.6%;
    border: 1px grey solid;
    padding: 10px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.minutes-input{
    padding: 0;
    width: 17%;
}
#custom{
    height: 100%;
    width: 100%;
    font-size: 16px;
    }

#inputMinute{
height: 100%;
width: 100%;
font-size: 16px;
text-align: center;
}

.timer-container{
    background-image: linear-gradient( #358edf,#0f3a85 );
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
}

.clock{
    font-size:130px;
    color: white;
    letter-spacing: 2px;
    margin: 15px;
}

.be-back{
    font-size:30px;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
}